.container {
  background-color: #ffff;
}

.container_inline_style {
  display: flex;
}

.subContainer {
  background-color: #ffff;
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
}

.search_container {
  width: 50%;
  background-color: #efefef;
  height: 50px;
  border-radius: 91px;
  display: flex;
  align-items: center;
  padding: 0px 25px;
}

.search_container input {
  background-color: transparent;
  border: 0px;
  padding-left: 10px;
  font-size: 18px;
}

.hero_section {
  display: flex;
}

.hero_section_text {
  width: 50%;
  background-color: #004d6d;
  padding: 53px 57px;
  color: #fff;
}

.hero_section_text h1 {
  font-size: 30px;
  line-height: 45px;
  padding-bottom: 20px;
}

.hero_section_text h2 {
  font-weight: 400;
  font-size: 26px;
  line-height: 39px;
}

.hero_section_image {
  width: 50%;
  display: flex;
  align-items: center;
}

.book_list_loader {
  display: flex;
  justify-content: center;
  height: calc(100vh - 403px);
  align-items: center;
}

.book_list_container {
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.book_container {
  width: 32%;
  padding-bottom: 50px;
  cursor: pointer;
}

.book_status {
  background-color: #ffff;
  position: absolute;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 222px;
  margin-top: 10px;
}
.book_image img {
  border-radius: 9px;
}

.book_detail {
  padding-top: 20px;
}

.rating_container {
  padding: 10px 0px;
  display: flex;
}
.book_detail p {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}

.book_detail span {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.detail_container {
  display: flex;
}

.book_detail_content {
  padding: 30px 50px;
}

.book_detail_content h1 {
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
}

.book_summary {
  display: flex;
  flex-wrap: wrap;
}

.summary_section {
  width: 33%;
  padding: 30px 0px;
}

.summary_section h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin: 0px;
  padding-bottom: 5px;
}

.book_detail_summary h3 {
  margin: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.book_detail_summary span {
  padding-left: 5px;
}

.button_container {
  padding-top: 30px;
}
.button_container button {
  width: 100%;
  background-color: #004d6d;
  border-radius: 5px;
  color: #fff;
  height: 45px;
  border: none;
  font-weight: 800;
  cursor: pointer;
}

.button_container svg {
  margin-left: 10px;
}

.ReactModal__Content.ReactModal__Content--after-open {
  padding: 0px !important;
}

.bookError {
  text-align: center;
  color: red;
  width: 100%;
}

.mobile_search {
  display: none;
}

@media (max-width: 500px) and (min-width: 320px) {
  .hero_section {
    display: block;
  }
  .hero_section_text {
    width: 100%;
    padding: 20px 0px 20px 0px;
  }
  .book_list_container {
    display: block;
    padding: 50px 25px;
  }

  .hero_section_text h1 {
    font-size: 17px;
    text-align: center;
    line-height: 30px;
    padding: 0px 20px;
  }

  .hero_section_text h2 {
    font-size: 15px;
    text-align: center;
    line-height: 30px;
    padding: 0px 20px;
  }

  .book_container {
    width: 100%;
  }

  .hero_section_image {
    width: 100%;
  }

  .hero_section_image img {
    width: 360px;
    height: 250px;
  }

  .book_image img {
    height: 250px;
  }

  .header {
    padding: 20px 20px;
  }

  .search_container {
    display: none;
  }

  .detail_container {
    display: block;
  }

  .detail_container img {
    height: 200px;
    width: 300px;
  }

  .book_detail_content {
    padding: 30px 20px;
  }

  .book_detail_content h1 {
    font-size: 20px;
  }

  .summary_section {
    width: 33.3%;
    padding: 15px 0px;
    text-align: center;
  }

  .summary_section h5 {
    font-size: 16px;
  }

  .book_detail p {
    font-size: 18px;
  }

  .rating_container {
    padding: 0px 0px;
  }

  .mobile_search {
    display: block !important;
    width: 80%;
    margin: 0 auto;
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
}
